@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply m-0 p-0 box-border;
  }

  #root {
    @apply min-h-screen flex justify-center items-center;
  }

  .active {
    @apply font-bold text-gray-900;
  }

  .quill-wrapper {
    @apply h-max flex flex-col rounded-xl;
  }

  .quill-wrapper .ql-toolbar.ql-snow {
    @apply sticky -top-2 flex justify-center items-center p-4 bg-gray-100 rounded-xl border border-gray-200 z-10;
  }

  .quill-wrapper .ql-container.ql-snow {
    @apply h-full pt-4 border-none text-xl;
  }

  .quill-wrapper .ql-container.ql-snow .ql-editor {
    @apply pb-40 outline-none;
    scrollbar-width: none;
  }

  .quill-wrapper .ql-container.ql-snow .ql-editor::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .s_hide::-webkit-scrollbar {
    display: none;
  }
  .s_hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
